.detail_banner {
    .detail_banner-title {
        padding: 0 80px;
        h2 {
            font-size: 52px;
            font-weight: 300;
            color: #10384F;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

.detail_content {
    margin-top: 40px;
    .detail_content-left {
        a {
            text-decoration: none;
        }
        p {
            font-size: 15px;
            font-weight: 300;
            color: #10384F;
        }
        .detail_content-left-item {
            padding: 10px 0px;
            border-top: 0.5px solid #10384F;
            color: #10384F;
            p {
                font-size: 10px;
                margin-bottom: 5px;
                font-weight: 300;
            }
            h4 {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
    .detail_content-center {
        padding: 0 80px;
        h3 {
            color: #108000;
            font-size: 18px;
            font-weight: 400;
        }
        p {
            font-size: 34px;
            font-weight: 400;
            color: #10384F;
            line-height: 40px;
        }
        img {
            width: 100%;
            height: auto;
        }
        ul {
            padding-left: 1rem;
            p {
                margin: 20px 0;
                font-size: 18px;
                font-weight: 500;
                color: #10384F;
            }
            li {
                color: #0D2A40;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }
        }
        span {
            font-size: 16px;
            font-weight: 200;
        }
    }
    .detail_content-right {
        &.detail_content-topic {
            border: 1px solid #108000;
        }
        border: 1px solid #0D2A40;
        padding: 10px;
        p {
            color: #0075A6;
            font-size: 16px;
            font-weight: 400;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 5px;
                i {
                    font-size: 12px;
                }
                a {
                    text-decoration: none;
                    color: #0D2A40;
                    font-size: 16px;
                    font-weight: 400;
                    &:hover {
                        color: #ff3162;
                    }
                }
            }
        }
    }
}