footer {
    .footer_contain {
        background-color: #624963;
        margin-top: 50px;
        overflow: hidden;
        .footer_top {
            padding: 58px 70px 0px;
            position: relative;
            .footer_top-item {
                .footer_top-title {
                    font-size: 26px;
                    color: #fff;
                    font-weight: 400;
                    line-height: 32px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        font-size: 15px;
                        font-weight: 200;
                        line-height: 22px;
                        color: #fff;
                        padding-bottom: 16px;
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            &::before {
                content: "";
                width: 120%;
                height: 60px;
                background-color: #624963;
                position: absolute;
                // border-top: 41.5px solid transparent;
                // border-right: calc( 100vw - var(1.5) * .5) solid #FF3162;
                bottom: -22px;
                left: -10%;
                rotate: -2deg;
                z-index: 2;
            }
        }
        .footer_bot {
            background-color: rgba(16, 56, 79, 0.2);
            position: relative;
            padding: 60px 70px 0;

            p{
                text-align: center;
                font-size: 26px;
                font-weight: 400;
                color: #fff;
            }
            .footer_bot-social {
                display: flex;
                justify-content: center;
                .footer_bot-social-item {
                    background-color: #D90043;
                    color: #fff;
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    margin: 0 10px;
                    text-align: center;
                    i {
                        line-height: 40px;
                    }
                }
            }
            .copyright {
                border-top: 0.5px solid #616161;
                padding: 40px 0 18px;
                margin-top: 36px;
                p{
                    text-align: left;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;

                }
            }
        }
    }
    @include responsive("medium") {
        .container {
            padding: 0;
            max-width: unset;
        }
        .footer_contain {
            .footer_top {
                padding: 30px 20px 0px;
                .footer_top-item {
                    .footer_top-title { 
                        font-size: 16px;
                    }
                    ul {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
            .footer_bot {
                padding: 40px 70px 0;      
            p{  
                font-size: 16px;
            }
                .copyright {
                    padding: 28px 0 15px;
                    margin-top: 17px;
                    p{
                        text-align: center;
                        font-size: 8px;
                        font-weight: 400;
                        line-height: 14px;
                    }
                }
            }
        }
      }

}